@font-face {
    font-family: 'Hakgyoansim Tuho';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimTuho/HakgyoansimTuho.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimTuho/HakgyoansimTuho.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimTuho/HakgyoansimTuho.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimTuho/HakgyoansimTuho.ttf') format('truetype');
}
